<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680848282311-71k8subt6upm3nve348hsc48vun17vq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680848282311-71k8subt6upm3nve348hsc48vun17vq6</string>
	<key>API_KEY</key>
	<string>AIzaSyAON4q79jbbGWFVUcl1SPBhXEvDVmFpi1I</string>
	<key>GCM_SENDER_ID</key>
	<string>680848282311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.todofire</string>
	<key>PROJECT_ID</key>
	<string>todofire-819a9</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-819a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680848282311:ios:d0a0bd6e847b5e8417e4e2</string>
</dict>
</plist>